[Unit]
Description=CBSD MQ router
After=network.target network-online.target remote-fs.target nss-lookup.target openvswitch-switch.service
Wants=network-online.target
Documentation=https://github.com/cbsd/cbsd-mq-router, man:cbsd(8)
ConditionPathExists=/etc/cbsd-mq-router.json

[Service]
Environment=NOINTER=1
Type=simple
ExecStart=/usr/local/sbin/cbsd-mq-router -config /etc/cbsd-mq-router.json
PIDFile=/run/cbsd-mq-router.pid
Restart=always
RestartSec=10
User=root
Group=root
PrivateTmp=true
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
